<link rel="import" href="../helpers/index.html">
<link rel="import" href="registry.html">
<link rel="import" href="actions.html">
<link rel="import" href="builder.html">
<link rel="import" href="item.html">

<template id="hawtio-nav">
  <style>
  </style>

  <nav class="navbar navbar-default navbar-pf" role="navigation">
    <script type="text/ng-template" id="nav.html">
      <li ng-class="{ active: item.isSelected() }">
        <a ng-href="{{item.href()}}" ng-click="item.click($event)">{{item.title()}}</a>
        <ul ng-show="item.tabs" class="nav navbar-nav navbar-persistent">
          <li ng-repeat="tab in item.tabs" ng-class="{ active: tab.isSelected() }">
            <a ng-href="{{tab.href()}}" ng-click="tab.click($event)">{{tab.title()}}</a>
          </li>
        </ul>
      </li>
    </script>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collaps-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="img/hawtio_logo.svg" height="16" alt="hawtio">
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
      <ul class="nav navbar-nav navbar-utility">
      </ul>
      <ul class="nav navbar-nav navbar-primary persistent-secondary" hawtio-main-nav>
        <li class="dropdown context">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            Perspective
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
          </ul>
        </li>
        <li class="active">
          <a href="">Active</a>
          <ul class="nav navbar-nav navbar-persistent">
            <li>
              <a href="">A link</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</template>

<template id="hawtio-nav-item-tabs">
  <ul class="nav navbar-nav navbar-persistent">
  </ul>
</template>


<script>

  (function(window, targetDoc, undefined) {
    var targetDoc = document;
    var sourceDoc = ComponentHelpers.getSourceDoc(targetDoc);

    var navTemplate = sourceDoc.querySelector('#hawtio-nav');
    var navItemTabsTemplate = sourceDoc.querySelector("#hawtio-nav-item-tabs");

    var proto = Object.create(HTMLElement.prototype);

    proto.createdCallback = function() {
      console.log("element created");
      var _this = this;
      var root = this.createShadowRoot();
      var registry = MainNav.createRegistry(root);
      var clone = targetDoc.importNode(navTemplate.content, true);
      root.appendChild(clone);
      var primaryNav = root.querySelector('.navbar-primary');
      registry.on(MainNav.Actions.REDRAW, 'WebComponent', function() {
        console.log("redrawing");
        var children = primaryNav.querySelectorAll('*');
        console.log("children: ", children);
        Array.prototype.forEach.call(children, function (child) {
          child.remove();
        });
        //primaryNav.innerHtml = '';
        /*
        primaryNav.querySelectorAll('*').forEach(function(node) {
          node.remove();
        });
        */
        registry.iterate(function(item) {
          if (item.isValid && !item.isValid()) {
            return;
          }
          var navItem = targetDoc.createElement('hawtio-nav-item');
          navItem.setHref(item.href());
          navItem.setText(item.title());
          navItem.setOnClick(item.click);
          primaryNav.appendChild(navItem);
        });
      });
      this.registry = registry;
    }

    targetDoc.registerElement(navTemplate.id, {
      prototype: proto
    });

  })(window, document);
</script>
